---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---
@import '../fonts/fonts';
html, body {
	background-color: #000;
	color: #fff;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.content {
	font-family: 'Ubuntu';
	font-weight: bold;
	.updated {
		z-index: 100;
		position: fixed;
		top: 3px;
		left: 3px;
		font-weight: 100;
		font-size: 15px;
	}
	.module {
		position: fixed;
		&.connection {
			left: 2em;
			top: 1em;
			height: 250px;
			text-align: center;
			* { margin: 0; }
			i {
				width: 256px;
				height: 256px;
				display: block;
				margin: auto;
				&.icon-warning {
					background: white;
					-webkit-mask: url(/assets/image/warning.svg) center / contain no-repeat;
				}
			}
			h3 { font-size: 3em; }
			p {
				font-family: Montserrat;
				font-size: 1em;
				text-transform: uppercase;
			}
		}
		&.calendar {
			left: 2em;
			bottom: -10px;
			width: auto;
			height: auto;
			font-size: 0.9em;
			#authorize-div {
				position: relative;
				bottom: 20px;
				* {
					display: inline-block;
					padding: 5px 10px;
				}
				button {
					font-family: 'Ubuntu';
					font-weight: bold;
					background-color: #fff;
					color: #000;
					border: none;
					text-decoration: none;
				}
			}
			#events {
				width: 100%;
				//white-space: pre-line;
				position: relative;
				#title {
					font-size: 3.25em;
					padding-bottom: 10px;
					text-transform: uppercase;
				}
				.event {
					display: block;
					font-weight: 100;
					width: 100%;
					padding-bottom: 5px;
					.summary {
						font-size: 1.5em;
						text-align: left;
						padding-right: 20px;
					}
					.days {
						font-size: 1.25em;
						text-align: right;
						float:right;
					}
				}
				&:after {
					position: absolute;
					bottom: 0;
					height: 100%;
					width: 100%;
					content: "";
					background: linear-gradient(to top, rgba(0, 0, 0, 1) 15px, rgba(0, 0, 0, 0.75) 30px, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0) 50%);
					// Using 9 results now instead of 10 as the 10th gets hidden
				}
			}
		}
		&.dateTime {
			top: 0;
			font-size: 12em;
			text-transform: uppercase;
			div {
				display: block;
				span {
					padding: 0;
					padding-right: 10px;
					text-align: center;
				}
				&.clock {
					font-family: Montserrat;
					line-height: 1.0;
					#time {
						padding-bottom: 0.2em;
						span {
							display: inline-block;
							padding: 0;
							width: 0.65em;
						}
					}
					.colon {
						&:before {
							content: ":";
							position: relative;
							bottom: 0.125em;
						}
					}
				}
				&.date {
					font-size: 0.33em;
					#day, #year { font-family: Montserrat; }
				}
			}
		}
		&.forecast {
			top: -1em;
			left: 1em;
			#weather {
				width: 500px;
				text-align: center;
				text-transform: uppercase;
				h2 {
					margin: 0;
					margin-bottom: 20px;
					font-family: Montserrat;
					font-size: 100px;
					font-weight: bold;
					color: #fff;
					text-align: center;
					i {
						font-size: 150px;
						line-height: 1.0;
					}
				}
				ul {
					margin: 0;
					padding: 0;
					li {
						display: inline-block;
						&.currently { margin: 0 20px; }
					}
				}
				.week-forecast {
					padding-top: 10px;
					text-align: center;
					width: 100%;
					margin: auto;
					div {
						display: inline-block;
						width: 40px;
						margin: 0 10px;
						p {
							position: relative;
							width: 100%;
							* {
								display: block;
								position: relative;
								text-align: center;
							}
							span {
								font-weight: 200;
								&.day {	vertical-align: top; }
								&.temp {
									font-family: Montserrat;
									vertical-align: bottom;
									font-size: 0.95em;
								}
							}
							i {
								vertical-align: middle;
								top: -0.25em;
								font-size: 3em;
							}
						}
					}
				}
			}
		}
	}
}
