.icon {
    position: relative;
    display: block;
    font-size: 0.33em;

    width: 12em;
    height: 10em;

    color: $background;

    .cloud {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        width: 3.6875em;
        height: 3.6875em;
        margin: -1.84375em;
        background: currentColor;
        border-radius: 50%;
        box-shadow: -2.1875em 0.6875em 0 -0.6875em, 2.0625em 0.9375em 0 -0.9375em, 0 0 0 0.375em $foreground, -2.1875em 0.6875em 0 -0.3125em $foreground, 2.0625em 0.9375em 0 -0.5625em $foreground;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: -0.5em;
            display: block;
            width: 4.5625em;
            height: 1em;
            background: currentColor;
            box-shadow: 0 0.4375em 0 -0.0625em $foreground;
        }
        &:nth-child(2) {
            z-index: 0;
            background: $foreground;
            box-shadow: -2.1875em 0.6875em 0 -0.6875em $foreground, 2.0625em 0.9375em 0 -0.9375em $foreground, 0 0 0 0.375em $foreground, -2.1875em 0.6875em 0 -0.3125em $foreground, 2.0625em 0.9375em 0 -0.5625em $foreground;
            opacity: 0.3;
            @include transform(scale(0.5) translate(6em, -3em));
            @include animation('cloud 4s linear infinite');
            &:after { background: $foreground; }
        }
        &:nth-child(3) {
            z-index: 2;
            background: $foreground;
            box-shadow: -2.1875em 0.6875em 0 -0.6875em $foreground, 2.0625em 0.9375em 0 -0.9375em $foreground, 0 0 0 0.375em $foreground, -2.1875em 0.6875em 0 -0.3125em $foreground, 2.0625em 0.9375em 0 -0.5625em $foreground;
            opacity: 0.4;
            @include transform(scale(0.6) translate(7em, 3em));
            @include animation('cloud2 3s linear infinite');
            &:after { background: $foreground; }
        }
        + .sun, + .moon { margin: -2em 1em; }
        + .moon {
            left: calc(50% + 0.75em);
            width: 2.5em;
            height: 2.5em;
            &:after {
                width: 2.5em;
                $ratio: 2.5 / 4;
                height: calc(#{$ratio} * 5.25em);
                left: calc(#{$ratio} * 1.68em);
                top: calc(#{$ratio} * -2.2em - 0.2em);
            }
        }
    }

    .sun {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2.5em;
        height: 2.5em;
        margin: -1.25em;
        background: currentColor;
        border-radius: 50%;
        box-shadow: 0 0 0 0.375em $foreground;
        @include animation('spin 120s infinite linear');

        .rays {
            position: absolute;
            top: -2em;
            left: 50%;
            display: block;
            width: 0.375em;
            height: 1.125em;
            margin-left: -0.1875em;
            background: $foreground;
            border-radius: 0.25em;
            box-shadow: 0 5.375em $foreground;
            &:before, &:after {
                content: '';
                position: absolute;
                top: 0em;
                left: 0em;
                display: block;
                width: 0.375em;
                height: 1.125em;
                @include transform(rotate(60deg));
                transform-origin: 50% 3.25em;
                background: $foreground;
                border-radius: 0.25em;
                box-shadow: 0 5.375em $foreground;
            }
            &:before { @include transform(rotate(120deg)); }
        }
    }

    .moon {
        position: absolute;
        top: 50%;
        left: calc(50% + 0.5em);

        width: 4em;
        height: 4em;

        margin: -2em;
        background: currentColor;
        border-radius: 50%;
        box-shadow: 0 0 0 0.375em $foreground;
        &:after {
            content: '';
            position: absolute;
            left: 1.68em;
            top: -2.2em;
            display: block;

            width: 4em;
            height: 5.25em;
            border-radius: 50%;

            background: currentColor;

            border: solid 0.375em currentColor;
            border-left: solid 0.375em $foreground;

            @include transform(rotate(-30deg));
        }
    }

    .rain, .lightning, .snow, .fog {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        width: 3.75em;
        height: 3.75em;
        margin: 0.375em 0 0 -2em;
        background: currentColor;
    }

    .rain:after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        width: 1.125em;
        height: 1.125em;
        margin: -1em 0 0 -0.25em;
        background: #0cf;
        border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
        @include transform(rotate(-28deg));
        @include animation('rain 3s linear infinite');
    }

    .lightning .bolt {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -0.25em 0 0 -0.125em;
        color: $foreground;
        opacity: 0.3;
        @include animation('lightning 2s linear infinite');
        &:nth-child(2) {
            width: 0.5em;
            height: 0.25em;
            margin: -1.75em 0 0 -1.875em;
            @include transform(translate(2.5em, 2.25em));
            opacity: 0.2;
            @include animation('lightning 1.5s linear infinite');
        }
        &:before {
            content: '';
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            margin: -1.625em 0 0 -1.0125em;
            border-top: 1.25em solid transparent;
            border-right: 0.75em solid;
            border-bottom: 0.75em solid;
            border-left: 0.5em solid transparent;
            @include transform(skewX(-10deg));
        }
        &:after {
            content: '';
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            margin: -1.625em 0 0 -1.0125em;
            border-top: 1.25em solid transparent;
            border-right: 0.75em solid;
            border-bottom: 0.75em solid;
            border-left: 0.5em solid transparent;
            @include transform(skewX(-10deg));
            margin: -0.25em 0 0 -0.25em;
            border-top: 0.75em solid;
            border-right: 0.5em solid transparent;
            border-bottom: 1.25em solid transparent;
            border-left: 0.75em solid;
            @include transform(skewX(-10deg));
        }
        &:nth-child(2) {
            &:before {
                margin: -0.75em 0 0 -0.5em;
                border-top: 0.625em solid transparent;
                border-right: 0.375em solid;
                border-bottom: 0.375em solid;
                border-left: 0.25em solid transparent;
            }
            &:after {
                margin: -0.125em 0 0 -0.125em;
                border-top: 0.375em solid;
                border-right: 0.25em solid transparent;
                border-bottom: 0.625em solid transparent;
                border-left: 0.375em solid;
            }
        }
    }

    .snow {
        .flake {
            &:before {
                content: '\2744';
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -1.025em 0 0 -1.0125em;
                color: $foreground;
                list-height: 1em;
                opacity: 0.2;
                @include animation('spin 8s linear infinite reverse');
            }
            &:after {
                content: '\2744';
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -1.025em 0 0 -1.0125em;
                color: $foreground;
                list-height: 1em;
                opacity: 0.2;
                @include animation('spin 8s linear infinite reverse');
                margin: 0.125em 0 0 -1em;
                font-size: 1.5em;
                opacity: 0.4;
                @include animation('spin 14s linear infinite');
            }
            &:nth-child(2) {
                &:before {
                    margin: -0.5em 0 0 0.25em;
                    font-size: 1.25em;
                    opacity: 0.2;
                    @include animation('spin 10s linear infinite');
                }
                &:after {
                    margin: 0.375em 0 0 0.125em;
                    font-size: 2em;
                    opacity: 0.4;
                    @include animation('spin 16s linear infinite');
                }
            }
        }
        + .rain {
            background: rgba($background, 0);
            @include transform(translate(0.6em, 0.25em) rotate(-30deg));
            &:after { @include animation('rain2 3s linear infinite'); }
        }
    }
    .fog {
        position: absolute;
        top: 5em;
        height: 1.875em;
        width: 4em;
        background: currentColor;
        border-bottom: 0.375em solid rgba($foreground, 0.9);;
        @include animation('fog 3s linear infinite');
        &:after {
            content: '';
            position: absolute;
            top: 0.75em;
            height: 1.875em;
            width: 4em;
            opacity: 0.4;
            border-top: 0.375em solid rgba($foreground, 0.9);
            border-bottom: 0.375em solid rgba($foreground, 0.9);
            @include animation('fog 7s linear infinite');
        }
    }
}

/* Animations */

@include keyframes(spin) {
    100% { @include transform(rotate(360deg)); }
}


@include keyframes(cloud) {
    0% { opacity: 0; }
    50% { opacity: 0.3; }
    100% {
        opacity: 0;
        @include transform(scale(0.5) translate(-200%, -3em));
    }
}

@include keyframes(cloud2) {
    0% { opacity: 0; }
    50% { opacity: 0.4; }
    100% {
        opacity: 0;
        @include transform(scale(0.6) translate(-200%, 3em));
    }
}


@include keyframes(rain) {
    0% {
        background: #0cf;
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
    }
    25% { box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2); }
    50% {
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
    }
    100% {box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf; }
}

@include keyframes(rain2) {
    0% {
        background: #0cf;
        box-shadow: -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2);
    }
    25% { box-shadow: -0.875em 1.125em 0 -0.125em #0cf; }
    50% {
        background: rgba(255, 255, 255, 0.3);
        box-shadow: -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2);
    }
    100% {box-shadow: -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),; }
}

@include keyframes(lightning) {
    45% {
        color: $foreground;
        background: $foreground;
        opacity: 0.2;
    }
    50% {
        color: #0cf;
        background: #0cf;
        opacity: 1;
    }
    55% {
        color: $foreground;
        background: $foreground;
        opacity: 0.2;
    }
}

@include keyframes(fog) {
    0% {
        border-color: rgba($foreground, 0.9);
    }
    50% { border-color: rgba($foreground, 0.5); }
    75% { border-color: rgba($foreground, 0.2); border-bottom-color: rgba($foreground, 0.9); }
}
