@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: bold;
	src: url('Ubuntu/Ubuntu-Bold.ttf');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;;
	font-weight: bold;
	src: url('Ubuntu/Ubuntu-BoldItalic.ttf');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: normal;;
	src: url('Ubuntu/Ubuntu-Italic.ttf');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 100;
	src: url('Ubuntu/Ubuntu-Light.ttf');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;;
	font-weight: 100;
	src: url('Ubuntu/Ubuntu-LightItalic.ttf');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 600;;
	src: url('Ubuntu/Ubuntu-Medium.ttf');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 600;
	src: url('Ubuntu/Ubuntu-MediumItalic.ttf');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: normal;;
	src: url('Ubuntu/Ubuntu-Regular.ttf');
}
