<div class="icon sun-shower" style="display: none">
    <div class="cloud"></div>
    <div class="sun">
        <div class="rays"></div>
    </div>
    <div class="rain"></div>
</div>

<div class="icon partly-cloudy-day" style="display: none">
    <div class="cloud"></div>
    <div class="sun">
        <div class="rays"></div>
    </div>
</div>

<div class="icon thunderstorm" style="display: none">
    <div class="cloud"></div>
    <div class="lightning">
        <div class="bolt"></div>
        <div class="bolt"></div>
    </div>
</div>

<div class="icon cloudy" style="display: none">
    <div class="cloud"></div>
    <div class="cloud"></div>
</div>

<div class="icon cloudy-night" style="display: none">
    <div class="cloud"></div>
    <div class="moon"></div>
</div>

<div class="icon flurries" style="display: none">
    <div class="cloud"></div>
    <div class="snow">
        <div class="flake"></div>
        <div class="flake"></div>
    </div>
</div>

<div class="icon sleet" style="display: none">
    <div class="cloud"></div>
    <div class="sleet">
        <div class="snow">
            <div class="flake"></div>
        </div>
        <div class="rain"></div>
    </div>
</div>

<div class="icon sunny clear-day" style="display: none">
    <div class="sun">
        <div class="rays"></div>
    </div>
</div>

<div class="icon sunny clear-night" style="display: none">
    <div class="moon"></div>
</div>

<div class="icon rainy" style="display: none">
    <div class="cloud"></div>
    <div class="rain"></div>
</div>
