<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Language" content="en">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ site.title }}</title>
	<link rel="icon" href="/favicon.ico">

	<script src="/assets/lib/jquery/jquery-3.0.0.min.js"></script>
	<script src="/assets/lib/simpleWeather/jquery.simpleWeather.min.js"></script>
	<script src="/assets/script/time.js"></script>
	<script src="/assets/script/forecast.js"></script>
	<script src="/assets/script/calendar.js"></script>
	<script src="/assets/script/main.js"></script>

	<!-- <script src="https://apis.google.com/js/client.js?onload=start"></script> -->

	<link rel="stylesheet" href="/assets/style/style.css">
</head>
