@import "main";
html, body {
   width: 100%;
   height: 100%;
}
* {
   font-family: 'Ubuntu', sans-serif;
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none;   /* Chrome/Safari/Opera */
   -khtml-user-select: none;    /* Konqueror */
   -moz-user-select: none;      /* Firefox */
   -ms-user-select: none;       /* Internet Explorer/Edge */
   user-select: none;
   cursor: default;
}
.fe_container {
   width: 100%;
   height: auto;
   position: fixed;
   bottom: 2.2em;
   .fe_title {
      border: none !important;
      .fe_location {
         font-size: 3em !important;
         .pre {
            display: none;
         }
      }
      .fe_forecast_link {
         display: none;
      }
   }
   .fe_daily {
      .fe_day {
         .fe_label {
            font-weight: bold;
         }
         .fe_temp_bar {
            width: 15px;
            border-radius: 1px;
         }
         .fe_high_temp, .fe_low_temp{
            left: -1.5px;
            width: 100%;
            font-size: 1.3em;
            font-weight: bold;
            text-align: center;
         }
         .fe_high_temp {
            top: -20px;
         }
         .fe_low_temp{
            bottom: -20px;
         }
      }
   }
}
