@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,400italic,500,500italic,700,700italic,300italic);

@-webkit-viewport {
   width: device-width;
}
@-moz-viewport {
   width: device-width;
}
@-ms-viewport {
   width: device-width;
}
@-o-viewport {
   width: device-width;
}
@viewport {
   width: device-width;
}

html, body{
	background-color: #000;
	color: #fff;
	margin: 0;
	padding: 0;
	&, *{
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none;   /* Chrome/Safari/Opera */
		-khtml-user-select: none;    /* Konqueror */
		-moz-user-select: none;      /* Firefox */
		-ms-user-select: none;       /* Internet Explorer/Edge */
		user-select: none;
		cursor: default;
	}
}
