@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,400italic,500,500italic,700,700italic,300italic);
@import '../fonts/weather';

@-webkit-viewport {
	width: device-width;
}
@-moz-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

html, body {
	background-color: #000;
	color: #fff;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	&, *{
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none;   /* Chrome/Safari/Opera */
		-khtml-user-select: none;    /* Konqueror */
		-moz-user-select: none;      /* Firefox */
		-ms-user-select: none;       /* Internet Explorer/Edge */
		user-select: none;
		cursor: default;
	}
}

.content {
	font-family: 'Ubuntu';
	font-weight: bold;
	.module {
		z-index: 10;
		position: fixed;
		&.calendar {
			left: 2em;
			top: 1.5em;
			width: auto;
			height: auto;
			#authorize-div {
				position: relative;
				top: 30px;
				* {
					display: block;
				}
				button {
					position: relative;
					top: 10px;
					font-family: 'Ubuntu';
					font-weight: bold;
					font-size: 1.2em;
					background-color: #fff;
					color: #000;
					border: none;
					text-decoration: none;
					padding: 5px 10px;
				}
			}
			#events {
				width: 100%;
				//white-space: pre-line;
				position: relative;
				#title {
					font-size: 4em;
					padding-bottom: 10px;
				}
				.event {
					display: block;
					font-weight: 100;
					width: 100%;
					padding-bottom: 5px;
					.summary {
						font-size: 1.5em;
						text-align: left;
					}
					.days {
						font-size: 1.25em;
						text-align: right;
						float:right;
					}
				}
				&:after {
					position: absolute;
					bottom: 0;
					height: 100%;
					width: 100%;
					content: "";
					background: linear-gradient(to top, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 50%);
					// Using 9 results now instead of 10 as the 10th gets hidden
				}
			}
		}
		&.dateTime {
			float: right;
			font-size: 5em;
			right: 0;
			top: 0;
			span {
				display: block;
				text-align: right;
				padding-right: 0.3em;
				text-transform: uppercase;
				&#time{
					font-weight: 100;
				}
			}
		}
		&.forecast {
			z-index: 5;
			bottom: 1em;
			left: 1em;
			#weather {
				width: 500px;
				margin: 0px auto;
				text-align: center;
				text-transform: uppercase;
				i {
					font-size: 150px;
					line-height: 1.0;
				}
				h2 {
					margin: 0 0 8px;
					color: #fff;
					font-size: 100px;
					font-weight: bold;
					text-align: center;
					text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
				}
				ul {
					margin: 0;
					padding: 0;
					li {
						display: inline-block;
						&.currently {
							margin: 0 20px;
						}
					}
				}
				.forecast {
					padding-top: 10px;
					text-align: center;
					width: 100%;
					margin: auto;
					div {
						display: inline-block;
						width: 40px;
						margin: 0 10px;
						p {
							position: relative;
							width: 100%;
							* {
								display: block;
								position: relative;
								text-align: center;
							}
							span {
								font-weight: 200;
								&.day {
									vertical-align: top;
								}
								&.temp {
									vertical-align: bottom;
									font-size: 0.95em;
								}
							}
							i {
								vertical-align: middle;
								text-align: center;
								top: -0.25em;
								font-size: 3em;
							}
						}
					}
				}
			}
		}
	}
}
