@import "../fonts/Ubuntu.css";
html, body{
	background-color: #000;
	color: #fff;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	&,*{
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none;   /* Chrome/Safari/Opera */
		-khtml-user-select: none;    /* Konqueror */
		-moz-user-select: none;      /* Firefox */
		-ms-user-select: none;       /* Internet Explorer/Edge */
		user-select: none;
		cursor: default;
	}
}
.content {
	font-family: 'Ubuntu';
	font-weight: bold;
	.module {
		position: fixed;
		&.calendar {
			#events {
				.title {
					font-size: 3em;
				}
				white-space: pre-line;
			}
		}
		&.dateTime {
			float: right;
			font-size: 5em;
			right: 0;
			top: 0;
			span {
				display: block;
				text-align: right;
				padding-right: 0.3em;
				text-transform: uppercase;
				&#time{
					font-weight: 100;
				}
			}
		}
	}
}
