@import "main";
html, body {
	width: 100vw;
	height: 100vh;
}
.content {
	font-family: 'Ubuntu';
	font-weight: bold;
	.module {
		z-index: 10;
		position: fixed;
		&.calendar {
			left: 2em;
			top: 1.5em;
			width: auto;
			height: auto;
			#authorize-div {
				position: relative;
				top: 30px;
				* {
					display: block;
				}
				button {
					position: relative;
					top: 10px;
					font-family: 'Ubuntu';
					font-weight: bold;
					font-size: 1.2em;
					background-color: #fff;
					color: #000;
					border: none;
					text-decoration: none;
					padding: 5px 10px;
				}
			}
			#events {
				width: 100%;
				//white-space: pre-line;
				position: relative;
				#title {
					font-size: 4em;
					padding-bottom: 10px;
				}
				.event {
					display: block;
					font-weight: 100;
					width: 100%;
					padding-bottom: 5px;
					.summary {
						font-size: 1.5em;
						text-align: left;
					}
					.days {
						font-size: 1.25em;
						text-align: right;
						float:right;
					}
				}
				&:after {
					position: absolute;
					bottom: 0;
					height: 100%;
					width: 100%;
					content: "";
					background: linear-gradient(to top, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 40%);
				}
			}
		}
		&.dateTime {
			float: right;
			font-size: 5em;
			right: 0;
			top: 0;
			span {
				display: block;
				text-align: right;
				padding-right: 0.3em;
				text-transform: uppercase;
				&#time{
					font-weight: 100;
				}
			}
		}
		&.forecast {
			z-index: 5;
			width: 500px;
			height: 500px; //245px;
			bottom: 1em;
			left: 1em;
			iframe, #forecast_embed {
				border: none;
			}
		}
	}
}
