@import "../fonts/Ubuntu.css";
html, body{
	background-color: #000;
	color: #fff;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	&,*{
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none;   /* Chrome/Safari/Opera */
		-khtml-user-select: none;    /* Konqueror */
		-moz-user-select: none;      /* Firefox */
		-ms-user-select: none;       /* Internet Explorer/Edge */
		user-select: none;
		cursor: default;
	}
}
.content {
	font-family: 'Ubuntu';
	font-weight: bold;
	.module {
		position: fixed;
		&.calendar {
			left: 2em;
			top: 1.5em;
			#authorize-div {
				position: relative;
				top: 30px;
				* {
					display: block;
				}
				button {
					position: relative;
					top: 10px;
					font-family: 'Ubuntu';
					font-weight: bold;
					font-size: 1.2em;
					background-color: #fff;
					color: #000;
					border: none;
					text-decoration: none;
					padding: 5px 10px;
				}
			}
			#events {
				width: 100%;
				//white-space: pre-line;
				#title {
					font-size: 4em;
					padding-bottom: 10px;
				}
				.event {
					display: block;
					font-weight: 100;
					width: 100%;
					padding-bottom: 5px;
					.summary {
						font-size: 1.5em;
						text-align: left;
					}
					.days {
						font-size: 1.25em;
						text-align: right;
						float:right;
					}
				}
			}
		}
		&.dateTime {
			float: right;
			font-size: 5em;
			right: 0;
			top: 0;
			span {
				display: block;
				text-align: right;
				padding-right: 0.3em;
				text-transform: uppercase;
				&#time{
					font-weight: 100;
				}
			}
		}
	}
}
