$dir: "/assets/fonts/";

// Ubuntu

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	src: url($dir + 'Ubuntu/Ubuntu-Light.ttf');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;;
	font-weight: 300;
	src: url($dir + 'Ubuntu/Ubuntu-LightItalic.ttf');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: url($dir + 'Ubuntu/Ubuntu-Regular.ttf');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 400;
	src: url($dir + 'Ubuntu/Ubuntu-Italic.ttf');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 500;
	src: url($dir + 'Ubuntu/Ubuntu-Medium.ttf');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 500;
	src: url($dir + 'Ubuntu/Ubuntu-MediumItalic.ttf');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src: url($dir + 'Ubuntu/Ubuntu-Bold.ttf');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 700;
	src: url($dir + 'Ubuntu/Ubuntu-BoldItalic.ttf');
}

// Montserrat

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url($dir + 'Montserrat/Montserrat-Regular.ttf');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url($dir + 'Montserrat/Montserrat-Bold.ttf');
}
